

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: 'Poppins',sans-serif;

}

.Body1{

  height: 170vh;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 10px;

  background: linear-gradient(135deg, #bea6ef, #f28328);

}

.container1{

  max-width: 500px;

  width: 120%;

  background-color: #fff;

  padding: 25px 30px;

  border-radius: 5px;

  box-shadow: 0 5px 10px rgba(0,0,0,0.15);

}

.container1 .title1{

  font-size: 25px;

  font-weight: 500;

  position: relative;

}

.container1 .title1::before{

  content: "";

  position: absolute;

  left: 0;

  bottom: 0;

  height: 3px;

  width: 30px;

  border-radius: 5px;

  background: linear-gradient(135deg, #bea6ef, #f28328);

}

.content form .user-details1{

  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;

  margin: 20px 0 12px 0;

}

form .user-details1 .input-box1{

  margin-bottom: 15px;

  width: calc(200% / 2 - 20px);

}

form .input-box1 span.details1{

  display: block;

  font-weight: 500;

  margin-bottom: 5px;

}

.user-details1 .input-box1 input{

  height: 45px;

  width: 100%;

  outline: none;

  font-size: 16px;

  border-radius: 5px;

  padding-left: 15px;

  border: 1px solid #ccc;

  border-bottom-width: 2px;

  transition: all 0.3s ease;

}

.user-details1 .input-box1 input:focus,

.user-details1 .input-box1 input:valid{

  border-color: #9b59b6;

}

 form .gender-details1 .gender-title{

  font-size: 20px;

  font-weight: 500;

 }

 form .category1{

   display: flex;

   width: 100%;

   margin: 14px 0 ;

   justify-content: space-between;

 }

 form .category1 label{

   display: flex;

   align-items: center;

   cursor: pointer;

 }

 form .category1 label .dot{

  height: 18px;

  width: 18px;

  border-radius: 50%;

  margin-right: 10px;

  background: #d9d9d9;

  border: 5px solid transparent;

  transition: all 0.3s ease;

}

 #dot-1:checked ~ .category1 label .one,

 #dot-2:checked ~ .category1 label .two,

 #dot-3:checked ~ .category1 label .three{

   background: #9b59b6;

   border-color: #d9d9d9;

 }

 form input[type="radio"]{

   display: none;

 }

 form .button1{

   height: 45px;

   margin: 35px 0

 }

 form .button1 input{

   height: 100%;

   width: 100%;

   border-radius: 5px;

   border: none;

   color: #fff;

   font-size: 18px;

   font-weight: 500;

   letter-spacing: 1px;

   cursor: pointer;

   transition: all 0.3s ease;

   background: linear-gradient(135deg, #bea6ef, #f28328);

 }

 form .button1 input:hover{

  /* transform: scale(0.99); */

  background: linear-gradient(-135deg, #bea6ef, #f28328);

  }

 @media(max-width: 584px){

 .container1{

  max-width: 100%;

}

form .user-details1 .input-box1{

    margin-bottom: 15px;

    width: 100%;

  }

  form .category1{

    width: 100%;

  }

  .content form .user-details1{

    max-height: 300px;

    overflow-y: scroll;

  }

  .user-details1::-webkit-scrollbar{

    width: 5px;

  }

  }

  @media(max-width: 459px){

  .container1 .content .category1{

    flex-direction: column;

  }

}





